body{
    background: url('images/accessories-dark.jpg') no-repeat center center fixed;
    background-size: cover;
}

.logo_small {
    position: absolute;
    top: 5px;
    right: 5px;
}

.logo {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.content{
    padding: 20px;
    width: 95%;
    margin-top: 10px;
    min-height: 500px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.8);
}

.main{
    color: #fff;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.row-user {
    color: white;
    text-align: left;
    font-size: 200%;
}

.max300px {
    max-width: 300px;
}

.max400px {
    max-width: 400px;
}

.bigger {
    font-size: 200%;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.members-content{
    max-width: 500px;
}

.row-padding {
    padding-top: 10px;
    padding-bottom: 10px;
}

.slider-input {
	padding-top:10px;
	padding-bottom:20px;
	padding-left:10px;
}

.btn-main {
    max-width: 150px;
    margin: 20px;
}

.fa-close {
    cursor: pointer;
}

.badgeSelect {
	cursor: pointer;
	background: #337ab7;
	display: inline-block;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	color: #fff;
	text-align: center;
}

.badgeSelect.active {
	background-color: #286090;
	box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.75);
}


.badgeSelect .fa {
	margin-top: 15px;
}

.badgeSelect .flag img {
	width: 60px;
	margin-top: 25px;
}

.badgeSelect span:not(.fa) {
	display: block;
}



