body{
    background: url('images/accessories-dark.jpg') no-repeat center center fixed;
    background-size: cover;
}

.logo_small {
    position: absolute;
    top: 5px;
    right: 5px;
}

.logo {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.paddingRight{
    padding-right: 10px;
}

.badge{
    margin-right: 5px;
}

.badgeSelect{
    margin-right: 5px;
}

.paddingLeft{
    padding-left: 10px;
}

.content{
    padding: 20px;
    width: 95%;
    margin-top: 10px;
    min-height: 500px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.8);
}

.white-text{
    color: white;
}

.light-background{
    background: rgba(255, 255, 255, 0.8);
}

.dark-background {
	background: rgba(25, 25, 25, 0.8);
}

.dark-background b {
	color: #fff;
}

.content-alpha{
    padding: 20px;
    width: 95%;
    margin-top: 10px;
    min-height: 500px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.main{
    color: #fff;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.row-user {
    color: white;
    text-align: left;
    font-size: 200%;
}

.max300px {
    max-width: 300px;
}

.max400px {
    max-width: 400px;
}

.bigger {
    font-size: 200%;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.members-content{
    max-width: 500px;
}

.hotel-image{
    width: 220px;
}

.without-top-margin {
    margin-top: 0px;
}

.price {
}

.selected {
    color: rgb(52, 222, 26);
}

.fa-hands-up:hover{
    color: #222;
}

.hotel-address {
    color: #222;
}

.booking-info{
    background-color: rgba(20,20,20,0.8);
    color: white;
    position: relative;
    float: right;
    margin-top: -20px;
    margin-right: -20px;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
}

.user-info{
    /*background-color: rgba(20,20,20,0.8);*/
    color: white;
    float: left;
    margin-top: -20px;
    margin-left: -20px;
}

.row-padding {
    padding-top: 10px;
    padding-bottom: 10px;
}

.row-margin {
    margin-bottom: 10px;
}

.slider-input {
	padding-top:10px;
	padding-bottom:20px;
	padding-left:10px;
}

.btn-main {
    max-width: 150px;
    margin: 20px;
}

.fa-close {
    cursor: pointer;
}

.badgeSelect {
	cursor: pointer;
	background: #337ab7;
	display: inline-block;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	color: #fff;
	text-align: center;
}

.badgeSelect.active {
	background-color: green;
	box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.75);
}


.badgeSelect .fa {
	margin-top: 15px;
}

.must-have-badge{
    background-color: rgb(58, 186, 61)!important;
}

.search-score-badge{
    background-color: rgb(219, 151, 30)!important;
}

.badgeSelect .flag img {
	width: 60px;
	margin-top: 25px;
}

.badgeSelect span:not(.fa) {
	display: block;
}



