<!DOCTYPE html>
<html ng-app="groupTripApp">
<head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="timesheet.min.css">
    <link rel="stylesheet" href="bootstrap-datetimepicker.min.css" />
</head>

<body ng-controller="PreferencesController as ctrl" ng-cloak>
    <div class="content-alpha">
        <div class="text-center white-text">
            <div><h3>Choose your preferrences:</h3></div>
        </div>

        <div id="timeline light-background"></div>
        <div data-ng-show="ctrl.timelinesOverlapping" class="alert alert-danger" role="alert">Seems that your date does not overlaps with the other people :( Please choose another one if you want to go with your friends.</div>
        <div class="row light-background rom-margin row-padding">
            <!--<div class="col-xs-2">
                How many people are with you:
            </div>
            <div class="col-xs-4 form-group">
                <input type="text" class="form-control"/>
            </div>-->
            <div class="col-xs-2">
                <b>Your budget:</b>
            </div>
            <div class="col-xs-4">
                <div class="input-group">
                    <span class="input-group-addon">From</span>
                    <input type="text" class="form-control" id="budget-from" />
                </div>
            </div>
            <div class="col-xs-4">
                <div class="input-group">
                    <span class="input-group-addon">To</span>
                    <input type="text" class="form-control" id="budget-to" />
                </div>
            </div>
            <br clear="left"/>
		</div>
		<div class="row light-background rom-margin row-padding">
			<div class="col-xs-2"><b>Preferred dates:</b></div>
			<div class="col-xs-6">
				<div class="input-group input-daterange" ng-show="!ctrl.datesSelected">
					<span class="input-group-addon">From</span>
					<input id="date-from" type="text" class="form-control" ng-model="ctrl.dateFrom">
					<span class="input-group-addon">To</span>
					<input id="date-to" type="text" class="form-control" ng-model="ctrl.dateTo">
				</div>
				<div class="" ng-show="ctrl.datesSelected">
					<h4>{{ctrl.datesSelectedValues}}</h4>
				</div>
			</div>
			<div class="col-xs-2">
				<button ng-if="!ctrl.datesSelected" data-ng-click="ctrl.savePreferences()" class="btn btn-primary">Add your dates</button>
				<button ng-if="ctrl.datesSelected" data-ng-click="ctrl.editSelectedDates()" class="btn btn-default">Edit your dates</button>
			</div>
		</div>
        <br clear="left" />
        <div class="row light-background rom-margin row-padding">
            <div class="col-xs-2">
                <b>Interests:</b>
            </div>
            <div class="col-xs-10" data-group="tags">
                <p class="badgeSelect" id="Cities"><span class="fa fa-building-o fa-4x"></span><span>Cities</span></p>
                <p class="badgeSelect" id="Beaches"><span class="fa fa-life-ring fa-4x"></span><span>Beaches</span></p>
                <p class="badgeSelect" id="Nature"><span class="fa fa-tree fa-4x"></span><span>Nature</span></p>
                <p class="badgeSelect" id="Skiing"><span class="fa fa-sort-numeric-desc fa-4x"></span><span>Skiing</span></p>
                <p class="badgeSelect" id="Shopping"><span class="fa fa-shopping-cart fa-4x"></span><span>Shopping</span></p>
                <p class="badgeSelect" id="Nightlife"><span class="fa fa-music fa-4x"></span><span>Nightlife</span></p>
            </div>
        </div>
        <br />
        <div class="row light-background rom-margin row-padding">
            <div class="col-xs-2">
                <b>Preferred locations:</b>
            </div>
            <div class="col-xs-10" data-group="localization">
                <p class="badgeSelect" id="Spain"><span class="flag"><img src="images/Flags/Spain.png" /></span><span>Spain</span></p>
                <p class="badgeSelect" id="Portugal"><span class="flag"><img src="images/Flags/Portugal.png" /></span><span>Portugal</span></p>
                <p class="badgeSelect" id="France"><span class="flag"><img src="images/Flags/France.png" /></span><span>France</span></p>
                <p class="badgeSelect" id="Germany"><span class="flag"><img src="images/Flags/Germany.png" /></span><span>Germany</span></p>
                <p class="badgeSelect" id="Poland"><span class="flag"><img src="images/Flags/Poland.png" /></span><span>Poland</span></p>
                <p class="badgeSelect" id="UnitedKingdom"><span class="flag"><img src="images/Flags/United_Kingdom.png" /></span><span>UK</span></p>
                <p class="badgeSelect" id="Italy"><span class="flag"><img src="images/Flags/Italy.png" /></span><span>Italy</span></p>
            </div>
        </div>
        <br />
        <div class="row light-background rom-margin row-padding">
            <div class="col-xs-2">
                <b>Must haves:</b>
            </div>
            <div class="col-xs-10" data-group="musthaves">
                <p class="badgeSelect" id="WheelchairAccessible"><span class="fa fa-wheelchair fa-4x"></span><span>Disability</span></p>
                <p class="badgeSelect" id="ChildFriendly"><span class="fa fa-child fa-4x"></span><span>Child Friendly</span></p>
                <p class="badgeSelect" id="Vegetarian"><span class="fa fa-paragraph fa-4x"></span><span>Parking</span></p>
            </div>
        </div>
        <br />
        <div class="max400px centered">
            <a class="form-control btn btn-primary btn-large" ng-click="ctrl.showHotels()">Show Hotels</a>
        </div>

        <script type="text/javascript" src="scripts/timesheet.js"></script>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script type="text/javascript" src="scripts/bootstrap-datetimepicker.min.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/preferences.js"></script>
    </div>
</body>
</html>
