<!DOCTYPE html>
<html ng-app="groupTripApp">

<head>
	<title>Date Time picker</title>
	<meta name="viewport" content="initial-scale=1.0">
	<meta charset="utf-8">

    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="timesheet.min.css">
	<link rel="stylesheet" href="bootstrap-datetimepicker.min.css" />	
</head>

<body ng-controller="TimelineController as ctrl" ng-cloak>
	<div class="content">
		<h3>Dates choosen by other people:</h3>
		<div id="timeline"></div>
		<div data-ng-show="ctrl.timelinesOverlapping" class="alert alert-danger" role="alert">Seems that your date does not overlaps with the other people :( Please choose another one if you want to go with your friends.</div>
		<div class="row">
			<div class="col-xs-4">Choose your preffered dates:</div>
			<div class="col-xs-6">
				<div class="input-group input-daterange" ng-if="!ctrl.datesSelected">
					<input id="fromDate" type="text" class="form-control" value="2016/05/09">
					<span class="input-group-addon">to</span>
					<input id="toDate" type="text" class="form-control" value="2016/05/18">
				</div>
				<div class="" ng-if="ctrl.datesSelected">
					<h4>{{ctrl.datesSelectedValues}}</h4>
				</div>
			</div>
			<div class="col-xs-2">
				<button ng-if="!ctrl.datesSelected" data-ng-click="ctrl.addPreferences()" class="btn btn-primary">Add your dates</button>
				<button ng-if="ctrl.datesSelected" data-ng-click="ctrl.editSelectedDate()" class="btn btn-default">Edit your dates</button>
			</div>
		</div>
	</div>
    <script type="text/javascript" src="scripts/timesheet.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script type="text/javascript" src="scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="scripts/timeline.js"></script>
</body>
</html>